<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Pie Charts</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% csrf_token %}
    <h2 class="chart-heading">Expense Donut Charts</h2>
    
    <div class="expense-stats">
        <div class="chart-container">
            <canvas class="my-chart"></canvas>
        </div>

        <div class="details">
            <ul></ul>
        </div>
    </div>
    
    <div class="admin-button-container">
        <a href="{% url 'admin:index' %}" class="admin-button">Admin Page</a>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'css/js/style.js' %}"></script>
</body>
</html>